@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-text {
  font-size: 30px; /* A default size */
}

/* Tablets */
@media (min-width: 768px) {
  .responsive-text {
    font-size: 40px;
  }
}

/* Larger screens */
@media (min-width: 1200px) {
  .responsive-text {
    font-size: 50px;
  }
}
  .four-box-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%; /* Maintain full width */
    margin: 0 auto; /* Center the row horizontally within its container */
  }
  
  .four-box-row .box {
    margin-bottom:20px;
    width: 250px; /* Adjust width based on number of boxes and desired spacing */
    background-color: #f5f5f5; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 2px 5px rgba(35, 35, 35, 0.2); /* Subtle shadow effect */
  }
  
  .box {
    width: 200px; /* Set the desired fixed width */
    color: #41403E; /* Text color (white for better visibility on the image) */
    text-align: center; /* Maintain centered text alignment */
    justify-content: center; /* Vertically center content within the box */
    align-items: center; /* Horizontally center content within the box */
  }

 .topic{
  color: #41403E;
  font-size: 30px;
 }
 .container p{
  color:#908F8D
 }

 .btn-primary{
  background-color: #f5f5f5; /* Make buttons white */
   color: #333; /* Set button text color to dark gray */
   padding: 10px 10px; /* Increase button padding */
 }
 .btn-secondary {
   background-color: #f5f5f5; /* Make buttons white */
   color: #333; /* Set button text color to dark gray */
   padding: 10px 10px; /* Increase button padding */
   border-left: 1px solid #000;
 }
 .btn-all_product:hover,
 .btn-best_seller:hover {
  background-color: #DEAD6F;
  color:#f5f5f5
}
.btn-primary:hover,
.btn-secondary:hover {
 color:#DEAD6F
}

 .btn-best_seller,
 .btn-all_product {
  background-color: #fff; /* White background */
  color: #333; /* Dark gray text */
  border: 2px solid #ddd; /* Solid light gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Increased padding */
  cursor: pointer; /* Indicate clickable behavior */
 }

 .button-home{
  background-color: #fff; /* White background */
  color: #333; /* Dark gray text */
  border: 2px solid #ddd; /* Solid light gray border */
  border-radius: 70px; /* Rounded corners */
  padding: 10px 20px; /* Increased padding */
  margin-top: 5%;

 }
 .checkout{
  background-color: #fff; /* White background */
  color: #333; /* Dark gray text */
  border: 2px solid #ddd; /* Solid light gray border */
  border-radius: 70px; /* Rounded corners */
  padding: 10px 20px; /* Increased padding */
 }
 .section-header {
  margin-top: 2rem; /* Adjust the value as needed */
}
.text-container {
  border-bottom: 1px solid #000; /* Adjust color and thickness as needed */
  padding-bottom: 10px; /* Optional padding to create space for the border */
}
.detail{
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 8px;
  padding-top: 10px;
}
.rounded {
  border-radius: 25px;  /* Adjust value as needed (e.g., 10px for more rounded corners) */
  padding-left:25px;
  padding-right:25px;
  padding-top:15px;
  padding-bottom:15px;
}
footer{
 background-color: #F9F3EC;
}
footer p{
  padding-top:10px
}
.line_down{
  color: #DEAD6F
}
.colored-home{
  color:#DEAD6F
}
.colored-hover:hover{
    color: #DEAD6F; /* Color on hover */
}
.margin-bottom{
  margin-bottom: 19%;
}
.bg-row {
  background-color: #DEAD6F;
  color:#f5f5f5;
}
.bg-price{
  border-left: 1px solid whitesmoke;
  background-color: #DEAD6F;
  color:#f5f5f5;
}
.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.form-section {
  margin-bottom: 5px;
  padding: 20px;
  width: 50%;
}

.form-section h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

input,
select {
  padding: 10px;
  background-color: #Fefcfa;
  border: 1px solid #DEAD6F;
  border-radius: 3px;
  margin-bottom: 15px;
  width: 100%;
}

.bg-checkout {
  background-color: #Fefcfa;
  padding-top: 1em;
}



Html{
  background-color: #F9F3EC;
  font-family: Chilanka;
  max-height: fit-content;
}


